@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 80px;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.sub-btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav__icons .nav__links2 {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
}

.header__bar {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: var(--text-dark);
  color: var(--white);
  bottom: 96.6%;
  z-index: 1000;
}

.nav__container {
  position: fixed;
  max-width: var(--max-width);
  top: 0;
  left: -100px;
  width: 100%;
   margin-top: 26px;
  margin-left: 250px;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 45px;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

@keyframes revealText {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px black;
  position: relative;
}

.nav__logo::before {
  content: "RICHMOND";
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: black;
  border-right: 3px solid black;
  animation: revealText 7s ease-in-out infinite;
  filter: drop-shadow(0 0 15px black);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem; 
  margin-left: -50px;
}

.link a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__icons {
  display: flex;
  gap: 1rem;
}

.nav__icons span {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__icons span a {
  color: black;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 5px;
}

.row h3 {
  margin-top: 35px;
  margin-left: 10px;
}

.col-25 {
  flex: 1;
  max-width: 300px;
}

.container2 {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin: calc(50%);
  margin-left: calc(110%);
  width: 800px;
  max-height: 600px;
  overflow-y: auto;
}

.container2 h4 {
  font-size: 25px;
  margin: 15px 0;
  margin-bottom: 30px;
}

.container2 a {
  color: black;
  font-size: 20px;
  display: block;
  margin: 15px 0;
}

.container2 hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container2 .price {
  float: right;
  color: grey;
}

.container2 .total-price {
  float: right;
  color: grey;
}

.container2 .total {
  margin-bottom: 25px;
}

.container2 span.price {
  margin-top: -36px;
}

.container2 .product-num {
  float: right;
  color: grey;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

input[type=number] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

label {
  margin: 15px 10px;
  display: block;
  font-size: 17px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  max-width: 200px;
}

.btn {
  background-color: black;
  color: white;
  padding: 12px;
  margin: 5px 0;
  margin-left: 240px;
  border: none;
  width: 35%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
}

span.price {
  float: right;
  color: grey;
  margin-right: 17px;
  margin-top: 5px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__heading {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer__col p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.footer__bar {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form .form-input {
  width: 100%;
  margin-top: 18px;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer__form .sub-btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (max-width: 599px) {
  .nav__container {
    left: -250px;
    top: -0.1%;
    background-color: white;
    border-radius: 1px;
    backdrop-filter: blur(2px);
  }


  .nav__links {
    display: none;
  }

  .nav__logo {
    font-size: 19px;
    margin-top: -10px;
    left: -13px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-left: -49px;
    margin-top: -20px;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 70px;
    left: 0;
    margin-left: 205px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .nav__links .link {
    text-align: center;
    margin: 0;
  }

  .nav__links .link a {
    padding: 10px;
    display: block;
  }

  .nav__links.active {
    display: flex;
  }

  .nav__icons {
    display: flex;
    gap: 1rem;
  }

  .nav__icons i {
    font-size: 1.25rem;
    position: absolute;
    margin-top: 6px;
    margin-left: 70px;
    cursor: pointer;
  }

  .nav__icons span {
    font-size: 1.25rem;
    margin-top: -14px;
    margin-left: -100px;
    cursor: pointer;
  }

  header {
    margin-top: 0;
  }

  .header__bar {
    top: -1px;
  }

  .container {
    width: 400px;
    margin-left: 15px;
  }

  .container2 {
    left: 50%;
    width: calc(110%);
    margin-left: calc(10%);
    margin-right: calc(11%);
  }

  .container2 .btn {
    margin-left: calc(25%);
    width: 150px;
    font-size: 13px;
  }

  .copyright {
    margin-left: 19px;
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: -15px;
    margin-bottom: 0;
  }

  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__col h4 {
    margin-top: -15px;
    font-size: 20px;
    color: #575c67;
  }
}
