@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 80px;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav__icons .nav__links2 {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
}

.header__bar {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: var(--text-dark);
  color: var(--white);
  bottom: 96.6%;
  z-index: 1000;
}

.nav__container {
  position: fixed;
  top: 0;
  left: -100px;
  width: 100%;
  margin-top: 29px;
  margin-left: 250px;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 45px;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

@keyframes revealText {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px black;
  position: relative;
}

.nav__logo::before {
  content: "RICHMOND";
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: black;
  border-right: 3px solid black;
  animation: revealText 7s ease-in-out infinite;
  filter: drop-shadow(0 0 15px black);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__icons {
  display: flex;
  gap: 1rem;
}

.nav__icons span {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__icons span a {
  color: black;
}

.sale__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sale__card {
  position: relative;
  overflow: hidden;
}

.sale__content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: var(--white);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sale__card {
  position: relative;
  display: inline-block;
}

.sale__card:hover .sale__content {
  opacity: 1;
}

.sale__content i {
  font-size: 25px;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 55px;
  height: 55px;
  padding-top: 18px;
  border-radius: 50%;
  margin: 20px;
  transition: 0.7s;
}

.sale__content i:hover {
  color: white;
  background-color: black;
  transition: 0.7s;
}

.sale__title {
  font-size: 2rem;
  font-weight: 600;
}

.sale__title span {
  font-size: 2.5rem;
}

.sale__subtitle {
  font-size: 1rem;
}

.sale__btn {
  margin-top: 2rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.sale__card::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.sale__card:hover::before {
  top: 0;
}

.sale__card:hover .sale__btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.musthave__card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  text-align: center;
  transform: translateY(0);
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave__card p del {
  font-weight: 400;
  color: var(--text-light);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__heading {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer__col p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.instagram__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer__bar {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer__form .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (width < 900px) {
  header {
    margin-top: 5rem;
  }

  .sale__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .news__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    text-align: center;
  }

  .footer__form {
    justify-content: center;
  }
}

@media (width < 599px) {
  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    display: none;
  }

  .sale__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__container {
    left: -250px;
    top: -0.1%;
    background-color: white;
    border-radius: 1px;
    backdrop-filter: blur(2px);
  }

  .nav__links {
    display: none;
  }

  .nav__logo {
    font-size: 19px;
    margin-top: -10px;
    left: -13px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-left: -49px;
    margin-top: -22px;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 70px;
    left: 0;
    margin-left: 205px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .nav__links .link {
    text-align: center;
    margin: 0;
  }

  .nav__links .link a {
    padding: 10px;
    display: block;
  }

  .nav__links.active {
    display: flex;
  }

  .nav__icons {
    display: flex;
    gap: 1rem;
  }

  .nav__icons i {
    font-size: 1.25rem;
    position: absolute;
    margin-top: 6px;
    margin-left: 70px;
    cursor: pointer;
  }

  .nav__icons span {
    font-size: 1.25rem;
    margin-top: -14px;
    margin-left: -100px;
    cursor: pointer;
  }

  header {
    margin-top: 0;
  }

  .header__bar {
    top: -1px;
  }

  .container {
    width: 400px;
    margin-left: 15px;
  }

  .copyright {
    margin-left: 19px;
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: -15px;
    margin-bottom: 0;
  }

  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__col h4 {
    margin-top: -15px;
    font-size: 20px;
    color: #575c67;
  }
}